@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
.root,
#root,
#docs-root {
  --primary: #367ee9;
  --secondary: #a0aec0;
  --accent: #718096;
  --background: #fff;

}

.seablue {
  color: #5881c0;
}
 /* /@apply bg-white ;/ */
body#theme-t1 {

}


#loader {
  @apply absolute top-0 left-0 right-0 bottom-0 z-50 w-full h-full flex flex-col items-stretch opacity-0 invisible;
}

.loader-row {
  @apply flex-1 block w-0 relative;
}

.is-transitioning {
  pointer-events: none;
  cursor: progress;
}
  
#theme-t1 .is-active {
  @apply font-bold text-black
}

#theme-t1 .container_main {
  @apply mx-auto lg:h-screen flex flex-col justify-center items-center
}

#theme-t1 .page_layout {
  @apply max-w-screen-xl px-4 py-16 mx-auto min-h-screen;
}

#theme-t1 section {
  @apply my-0;
}

#theme-t1 section article {
  /* @apply mb-10; */
}
#theme-t1 section .article-title {
  @apply font-bold text-3xl text-gray-900 mb-1;
}
#theme-t1 section .article-date {
  @apply text-sm leading-6 text-gray-500 mb-3;
}
#theme-t1 section .article-description {
  @apply text-lg text-gray-700 mb-3;
}
#theme-t1 section .article-category {
  @apply text-lg text-black underline;
}
#theme-t1 section a.article-more {
  @apply blue-tx font-bold text-lg;
}




.blue-tx {
  @apply text-blue-500 hover:text-blue-700
}
.blue-bg {
  @apply bg-blue-500 hover:bg-blue-700
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

.apply-round-chip {
  @apply text-xs px-3 font-medium  text-white rounded-full py-1.5 blue-bg;
}

.prose a {
  @apply no-underline blue-tx;
  
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"]  {
  @apply bg-gray-800 ;
}


