<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{title}}
        </title>
        {% if description %}
            <meta name="description" content="{{description}}"/>
        {% endif %}
        {% block head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="/_static/css/style.css"/>
        <script 
            src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
        <script
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

        <!-- open graph -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="">
        <meta property="og:image" content="">
        <meta property="og:site_name" content="lea-tortay">
        <meta property="og:description" content="">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@lea_tortay">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

    </head>
    <body id="theme-t1" class="dockey_{{docKey}}" data-barba="wrapper">
    {% include "./partials/transition.njk"%}
        <div id="mainMenu" class="w-full sticky top-0 z-25">
            {% include "./components/navbar.njk" %}
        </div>
        <main id="main" data-barba="container" data-barba-namespace="{{ locale}}_{{ docKey }}">
            {{ content | safe }}
        </main>
        <div class="bg-gray-800">
            {% include "./partials/footer.njk" %}
        </div>

        
        <script type="text/javascript">
        var tl = gsap.timeline();
        var tween1 = gsap.to("#_transpage ._line", 
        {duration: 1, width: '100%', ease: "none", stagger: 0, delay: 0});
        var tween2 = gsap.to("#_transpage ._line", 
        {duration: 1, width: '0%', ease: "none", stagger: 0, delay: 0});


        function pageTransitionIn() {

        
            tl.to("#_transpage", {
                opacity: 1,
                autoAlpha: 1,
                display: 'block',
            });
            tl.add(tween1);
           
            
        }

        function pageTransitionOut() {
            //tl.add(tween2);
            tl.to("#_transpage", {
                opacity: 0,
                autoAlpha: 0,
                display: 'none',
            });
          
        }

        barba.init({
            transitions: 
            [{
                name: 'lines-transition',
                leave(data) {
                    gsap.to(data.current.container, {
                        opacity: 0
                    });
                    pageTransitionIn();
                },
                enter(data) {
                    gsap.from(data.next.container, {
                        opacity: 0
                    });
                    pageTransitionOut();
                }
            }]
        
        })
      
        </script>
    </body>
</html>