---
layout: default_layout
---

<div class="w-full h-24 md:h-48 mx-auto text-center bg-gray-800">
    <div class="py-6">
        <h1 class="font-bold text-4xl lg:text-8xl text-white p-0 m-0">
            {{ title }}
        </h1>
    </div>
</div>

<div class="w-full bg-white">
    <div class="container max-w-screen-xl px-8 py-16 mx-auto ">    
        {{ content | safe }}    
    </div>
</div>
