---
layout: page_layout
---

<section class="post_section">
    <div class="pb-5 mb-5 border-b border-gray-100">   
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | localeDate(locale) }}
            {% if post.data.author %}    
            ~ {{ author }}
            {% endif %}
            </time>
        </p>
    </div>
    <article class="prose lg:prose-xl my-4 mx-auto max-w-none">
        {{ content | safe }}
    </article>

</section>