{% set _title = post.data.title %}
{% set _link = post.url | url %}
{% set _time = post.date | localeDate(locale) %}
{% set _desc = post.data.description %}
{% set _caty = post.data.category %}

<article>
    <h2 class="article-title">
        <a href="{{ _link }}">
            {{ _title }}
        </a>
    </h2>
    <p class="article-date">
        <time>
            {{ _time }}
        </time>
    </p>
    {% if _desc %}
        <p class="article-description">
            {{ _desc }}
            <a href="{{ _link }}" class="article-more">
                {{ __Readmore }} →
            </a>
        </p>
    {% endif %}
    {% if _caty %}
        <p class="article-category">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-flex" viewBox="0 0 20 20" fill="currentColor">
                <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
            </svg>
            {{ _caty }}
        </p>
    {% endif %}
</article>