<article>
    <h2 class="article-title">
        <a href="{{ post.url | url }}">
            {{ post.data.title }}
        </a>
    </h2>
    <p class="article-date">
        <time>
            {{ post.date | localeDate(locale) }}
        </time>
    </p>
    {% if post.data.description %}
        <p class="article-description">
            {{ post.data.description }}
            <a href="{{ post.url | url }}" class="article-more">
                {{ __Readmore }} →
            </a>
        </p>
    {% endif %}
    {% if post.data.category %}
        <p class="article-category">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-flex" viewBox="0 0 20 20" fill="currentColor">
                <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
            </svg>
            {{ post.data.category }}
        </p>
    {% endif %}
</article>