{% set categorycode = categorycode or "techno" %}
{% set __All = btn_all %}

<nav class="border-0 flex flex-wrap gap-4">
    <div class="text-yelow-600 font-medium p-0 m-0 rounded flex-shrink-0 w-auto md:w-full">
        <a href="/{{base}}/">
            {{ __All | upper }}
        </a>
    </div>
    {% set navData = navigation.items[locale] %}

    {% for item in navData %}
    {% if item.parent === categorycode %}

    <div class="text-yellow-600 font-medium p-0 m-0 rounded flex-shrink-0 w-auto md:w-full">            
        <a href="/{{base}}/{{ item.slug }}/">
            {{ item.text | upper }}
        </a>     
    </div>
        
    {% endif %}
    {% endfor %}
</nav>