<nav class="border-0 ">
    <div class="bg-yellow-600 text-white font-medium p-4 my-4 rounded w-max ">
        <a href="/{{base}}/">
            {{ btn_all | upper }}
        </a>
    </div>
    {% set navData = navigation.items[locale] %}

    {% for item in navData %}
    {% if item.parent === "techno" %}

    <div class="bg-yellow-600 text-white font-medium p-4 my-4 rounded w-max ">            
        <a href="/{{base}}/{{ item.slug }}/">
            {{ item.text | upper }}
        </a>     
    </div>
        
    {% endif %}
    {% endfor %}
</nav>