{% for lgg in settings.locales %}
    {% if loop.first %}<ul class="c-lggnav">{% endif %}

    {# set translatedUrl to the homepage of that language by default #}
    {% set translatedUrl = "/" + lgg.code + "/" %}

    {# set current language class #}
    {% set activeClass = "is-active" if lgg.code == locale else "" %}

    {% for item in collections[lgg.code] %}

    {# for each item in the loop, check if
    - its translationKey matches the current item translationKey
    - its locale matches the code of the language we are looping through #}

    {% if item.data.docKey == docKey  %}
        {% set translatedUrl = item.url %}
    {% endif %}

    {% endfor %}


    <li class="c-lggnav__item">
        <a onclick="save( '{{lgg.code }}' )" class="c-lggnav__link  {{ activeClass }} key-{{ keyname }}" href="{{ translatedUrl }}">{{ lgg.label }}</a>
    </li>

    {% if loop.last %}</ul>{% endif %}
{% endfor %}

<script>
localStorage.setItem('test', "123");
function save(lg) {
    localStorage.setItem('language', lg);
}

</script>