
<nav class="py-2 container max-w-screen-xl px-8 py-4">
    

    <div class="flex flex-row justify-between items-center align-center">
        {% set navData = navigation.items[locale] %}

        <!--Logo etc-->
        <div class="">
            <a class="m-0 p-0 inline-flex text-black" href="/{{ navData[0].slug }}/" >
                <div class="-mb-1 pr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                    </svg>
                </div>
                <div class="font-medium text-lg">{{ settings.name }}</div>
            </a>
        </div>

        <!--Menu-->
        <div class=" hidden md:block">
        {% set navPages = navData %}
         
            
            <ul class="inline-flex space-x-4">
                {% for item in navPages %}
                {% if item.parent== "root" and item.key != "home"%}
                    <li class="flex-shrink-0">
                        <a class="text-black font-medium no-underline hover:text-black" 
                        href="/{{ item.slug }}/">
                            {{ item.text}}
                        </a>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>   
        </div>

        <!--Toggle button (hidden on large screens)-->
        <div class=" block md:hidden">
            <button class="text-black uppercase "> 
                <span class="block leading-none font-medium ">ME</span>
                <span class="block leading-none font-medium -mt-1">NU</span>
            </button>
        </div>
        <div class="hidden h-screen">
            <ul class="flex flex-col space-y-4">
                {% for item in navPages %}
                {% if item.parent== "root" and item.key != "home"%}
                    <li class="flex-1">
                        <a class="text-black font-medium no-underline hover:text-black" 
                        href="/{{ item.slug }}/">
                            {{ item.text}}
                        </a>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>  
        </div>    

    </div>
</nav>
