 <div class="py-5 my-5">  
    <div class="flex space-x-2">
        {% for t in tags %}
            <a href="/{{ t | safe }}">
                <span class="apply-round-chip">
                    {{ t | safe }}
                </span>
            </a>
        {% endfor %} 
    </div>
</div>