<section class=""> 
{% set list = collections.aboutpost | LocaleFilter(locale) %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mb-12">
    {% for post in list %}
        <div>{% include "components/article-item_image.njk" %}</div>
    {% endfor %}
    </div>   
</section>