<section class="blog_section">

    {% include "partials/headline.njk" %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 ">
        
            {% set postslist = collections.blogpost | LocaleFilter(locale) %}
            {% for post in postslist | reverse %}

                {% set __Readmore = btn_readmore %}
                {% include "components/article-item_image.njk" %}
                
            {% endfor %}
        
    </div>
</section>