<section class="blog_section"> <!-- blogpost -->

 <div class="flex flex-wrap gap-y-8">

        <div id="Left_side" class="w-full md:w-1/5">
            <div class="category-tabs bg-white">
                {% set categorycode = "blog" %}
                {% include "components/categories.njk" %}
            </div>
        </div>

        <div id="main" class="w-full md:w-4/5">
       
        {% set postslist = collections.blogpost | LocaleFilter(locale) %}
        {% if selected %}
        {% set postslist = postslist | categoryFilter(selected) %}
        {% endif %}
        {% set __Readmore = btn_readmore %}
        {% set __All = btn_all %}
    
            <div class="grid grid-cols-1 gap-8 mb-12">
            {% for post in postslist | priorityFilter("High") %}
            
                <div>{% include "components/article-item_featured.njk" %}</div>
               
            {% endfor %}
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mb-12">
            {% for post in postslist | priorityFilter("Normal") %}
            
                <div>{% include "components/article-item_image.njk" %}</div>
              
            {% endfor %}
            </div> 
            <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mb-12">
            {% for post in postslist | priorityFilter("Low") %}
            
                <div>{% include "components/article-item_line.njk" %}</div>
              
            {% endfor %}
            </div> 
        </div>

    </div>

</section>