<section data-locale='{{ locale }}' data-key='{{ docKey }}' class="home_section">
    <div class="text-center mx-auto w-60">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-60 w-60 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
        </svg>
    </div>
     
</section>