<section data-locale='{{ locale }}' data-key='{{ docKey }}' class="home_section">
    <!--
    <div class="w-full text-center mx-auto my-12 w-60">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-60 w-60 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
        </svg>
    </div> -->

    <div class="w-full mx-auto my-12">
        <h2 class="text-center text-5xl font-medium text-gray-400 mb-8"> Featured </h2>
        {% include "components/home_featured.njk" %}
    </div> 

    <div class="w-full mx-auto my-12">
         <h2 class="text-center text-5xl font-medium text-gray-400 mb-8"> Partners </h2>
        {% include "components/brands_carousel.njk" %}
    </div>     
</section>