<section class="techno_section">
  
<div class="grid grid-cols-1 grid-cols-5 gap-16">

    <div id="Left_side" class="w-max" >
        <div class="category-tabs bg-white">
            {% include "components/categories.njk" %}
        </div>
    </div>

    <div id="main" class="col-span-4 md:col-span-4">

        <div class="flex flex-row flex-wrap content-between">
            
            {% set postslist = collections.technopost | LocaleFilter(locale) %}
            {% if selected %}
            {% set postslist = postslist | categoryFilter(selected) %}
            {% endif %}
            {% for post in postslist %}
                
                {% set __Readmore = btn_readmore %}
                {% set __All = btn_all %}

                {% if post.data.priority and post.data.priority === "high" %}
                    <div class="w-full mb-12 flex-grow">
                        {% include "components/article-item_featured.njk" %}
                    </div>
                    {% elif post.data.priority and post.data.priority === "normal"%}
                    <div class="w-full md:w-1/2 mb-12 flex-shrink">
                        {% include "components/article-item_image.njk" %}
                   </div>
                    {% else %}
                    <div class="w-full md:w-1/3 mb-12 flex-shrink">
                        {% include "components/article-item_line.njk" %}
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>

</div>

</section>
