<footer class="w-full py-8 px-8 mx-auto text-center center">
     
    <div id="lang_switcher" class="p-2">
        {% include "components/lang_switcher.njk" %}
    </div>
    <div>
 
        <small class="text-white">Copyright ©
            {{settings.name}}
            2020-2030. Made by {{settings.author}}.
            <span x-data="{ message: ' Powered by with AlpineJS, TailwindCSS and 11ty/Neat' }" x-text="message"></span>
        </small>
        
    </div>
</footer>

