<div id="loader" class="loader">
    <div class="loader-row loader-row-1 bg-blue-400"></div>
    <div class="loader-row loader-row-2 bg-yellow-400"></div>
    <div class="loader-row loader-row-3 bg-blue-400"></div>
</div>