<div id="_transpage" class="absolute left-0 top-0 w-full h-full z-50 hidden">
    <div class="_line _line-r relative h-1/2 bg-black w-0"></div>
    <div class="_line _line-l relative h-1/2 bg-blue-400 w-0"></div>
    <div class="_line _line-r relative h-1/2 bg-yellow-400 w-0"></div>
</div> 